<% var f = macros.format; %>

<header class="tagline">
    <h1><%= public._data.tagline.title %></h1>
    <h2><%= public._data.tagline.subtitle %></h2>
</header>
<section id="aboutme">
    <h3><span>About Me</span></h3>
    <p>
        My name is <%= public._data.resume.name %>.
    </p>
    <%- f.md(public._data.resume.summary) %>
</section>
<section id="interests">
    <h3><span>Interests</span></h3>
    <%- f.list(public._data.resume.interests) %>
</section>
<section id="skills">
    <h3><span>Technical Skills</span></h3>
    <ul>
    <% public._data.resume.skills.forEach(function(s){ %>
        <li><strong><%= s.category %></strong> <%=: s.skills | join %></li>
    <% }) %>
    </ul>
</section>
<section id="experience">
    <h3><span>Experience</span></h3>
    <% public._data.resume.experience.forEach(function(e){ %>
        <section id="<%- f.makeId(e.position) %>">
            <h4><%= e.position %> <a href="#<%- f.makeId(e.position) %>" class="fa fa-link"></a></h4>
            <h5><%= e.from %> ➞ <%= e.to === 'NOW' ? 'Present' : e.to %></h5>
            <h6><span class="location"><i class="fa fa-map-marker"></i> <%= e.location %></span></h6>
            <%- f.md(e.description) %>
            <% if(e.more) { %>
            <div class="show-more">
                <div>
                    <a href="#<%- f.makeId(e.position) %>_more" class="fa fa-plus more asider"></a>
                    <a href="#<%- f.makeId(e.position) %>" class="fa fa-minus less asider"></a>
                </div>
            </div>
            <aside>
                <%- f.md(e.more) %>
            </aside>
            <% } %>
        </section>
    <% }) %>
</section>