<!doctype html>
<html>
<head>
    <%- partial('_partials/meta') %>
    <title><%= title %></title>
    <link rel="canonical" href="http://marcon.me/" />
    <%- macros.res.css('res/style/main.css') %>
</head>
<body>

<div class="container">
    <div class="pusher">
        <nav class="menu">
            <%- partial('_partials/menu') %>
        </nav>
        <div class="content">
        </div>
    </div>
</div>

<%- partial('_partials/ga', { gaAccount: macros.prod(environment, config.gaAccount) }) %>

</body>
</html>